* {
	margin: 0;
	padding: 0;
}
html {
	font-family: 'open_sans', 'Myriad Pro', sans-serif;
	color: #444444;
	font-size: 14px;
}
body {
	background-color: #ededed;
}
a {
	color: #179fdb;
	text-decoration: none;
}
p {
	margin-bottom: 10px;
}
h1 {
	font-size: 28px;
	color: #626262;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}
label span {
	font-size: 14px;
	margin-left: 15px;
	margin-top: -2px;
	position: absolute;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.header-top {
	background: none repeat scroll 0 0 #179fdb;
	border-bottom: 1px solid #179fdb;
	opacity: 0.75;
	position: relative;
	z-index: 1;
}
.header-top-index {
	width: 1180px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 7px;
}
.header-top-index ul.items-list {
	list-style-type: none;
}
.header-top-index ul.items-list li {
	display: block;
	float: left;
	margin-left: 28px;
	line-height: 160%;
	color: #434a54;
}
.header-top-index ul.items-list:first-child {
	margin-left: -28px;
}
.header-top-index ul.items-list li span.phone-number {
	margin-left: 8px;
}
.header-top-index ul.items-list li a {
	text-decoration: none;
	color: #434a54;
}
.header-top-index ul.items-list li a:hover {
	color: #FFF;
}
.header-index {
	width: 1180px;
	margin: 0 auto;
}
.logo {
	display: inline;
	background-image: url(../images/logo.png);
	width: 95px;
	height: 88px;
	position: absolute;
	margin-left: 16px;
	margin-top: 98px;
}
.header-middle:before {
	background-image: url("../images/penguins.png");
	content: " ";
	display: block;
	height: 98px;
	margin-left: 5px;
	position: absolute;
	top: 50px;
	width: 120px;
}
.header-middle {
	background-image: url(../images/backgrounds/bg-header.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	margin-top: -40px;
}
.header-middle-index {
	margin-left: 300px;
	padding-top: 73px;
}
.search-box {
}
.search-box input[type='text'] {
	color: #000;
	font-size: 13px;
	font-weight: 300;
	height: 35px;
	opacity: 0.6;
	border: 1px solid #FFF;
	padding-left: 10px;
	padding-right: 40px;
	width: 340px;
	float: left;
	background: #FFF;
}
.search-box input[type='button'] {
	background-color: transparent;
	background-image: url("../images/icons/icon-search-blue.png");
	background-repeat: no-repeat;
	background-position: center 11px;
	height: 35px;
	width: 35px;
	float: left;
	display: block;
	margin-left: -35px;
	border: 0;
	position: relative;
	cursor: pointer;
}
.header-choice-categories .pull-left:first-child {
	width: 240px;
}
.header-bottom {
	background-color: #434a54;
	height: 45px;
}
.content-layot {
	margin: 0 auto;
	width: 1180px;
	margin-top: 20px;
}
.footer-layot {
	background-color: #383f49;
	margin-top: 50px !important;
	clear: both;
}
.footer-index {
	margin: 0 auto;
	width: 1180px;
	color: #868e99;
	font-size: 12px;
	padding-top: 40px;
	margin-bottom: 55px;
}
.footer-index a {
	color: #868e99;
	text-decoration: none;
}
.footer-index a:hover {
	color: #FFF;
}
.footer-about {
	float: left;
	width: 380px;
}
.footer-about p {
	margin-bottom: 30px;
}
footer h3 {
	color: #FFF;
	font-size: 14px;
	padding-bottom: 40px;
}
.footer-sections {
	width: 200px;
	float: left;
	margin-left: 120px;
}
ul.sections-list {
	list-style-type: none;
}
ul.sections-list li {
	margin-bottom: 10px;
}
ul.sections-list li a {
	font-weight: bold;
	background-image: url(../images/icons/icon-bullet-gray.png);
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	text-indent: 17px;
}
ul.sections-list li a:hover {
	background-image: url(../images/icons/icon-bullet-blue.png);
}
ul.sections-list li a:hover {
	color: #179fdb;
}
.description-row {
	margin-top: 15px;
}
.description-row i {
	display: block;
}
.description-row span {
	display: block;
	margin-left: 54px;
	line-height: 270%;
}
.footer-location {
	width: 480px;
	float: right;
}
.location-index {
	width: 480px;
	height: 200px;
}
.footer-copy {
	background-color: #434a54;
	border-top: 1px solid #505761;
}
.footer-copy-index {
	margin: 0 auto;
	width: 1180px;
	color: #868e99;
	font-size: 12px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.footer-copy-index a {
	color: #179fdb;
	text-decoration: none;
}
.footer-copy-index a:hover {
	color: #FFF;
}
.our-services {
	width: 100%;
	clear: both;
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
}
.servises-list {
	list-style-type: none;
	float: left;
	margin: auto;
	padding: 0;
	list-style: none;
	position: relative;
	left: 50%;
	font-size: 0;
	display: table;
	margin-bottom: 50px;
}
.servises-list li {
	background-color: #FFF;
	width: 235px;
	border: 1px solid #dee5e8;
	height: 120px;
	text-align: left;
	display: inline-block;
	position: relative;
	left: -50%;
	margin-right: -1px;
	margin-top: -1px;/*margin-left:-.36em*/
}
.servises-list li:first-child {
	border-left: 1px solid #dee5e8;
}
.servises-list li i {
	display: block;
	float: left;
}
.servises-list li span {
	font-weight: bold;
	font-size: 14px;
	display: block;
	line-height: 150%;
	display: table-cell;
	vertical-align: middle;
	height: 120px;
}
.sidebar-left {
	float: left;
	width: 300px;
}
.sidebar-left-mobile {
	width: 320px;
	background-color: #ededed;
}
.nav-vertikal-mobile {
	background-color: #ededed !important;
}
.content-index {
	margin-left: 300px;
}
.content-index-inner {
	margin-left: 320px;
}
ul.breadcrubs {
	display: block;
	list-style-type: none;
	margin-bottom: 18px;
	font-size: 12px;
}
ul.breadcrubs li {
	float: left;
}
ul.breadcrubs li:after {
	content: "/";
	margin-left: 4px;
	margin-right: 4px;
}
ul.breadcrubs li:last-child:after {
	content: " ";
}
ul.breadcrubs a {
	color: #434a54;
	text-decoration: none;
}
ul.breadcrubs li span.current {
	color: #179fdb;
}
.filter-panel {
	border: 1px solid #dee5e8;
	padding: 10px 10px 1px 10px;
	background-color: #FFF;
	border-left: 5px solid #179fdb;
	display: table;
}
.filter-panel .item {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	min-height: 40px;
}
.filter-panel .item-3-col {
	width: 224px;
}
.filter-panel ul.sort-list {
	margin-top: 8px;
}
ul.sort-list {
	list-style-type: none;
}
ul.sort-list li {
	float: left;
	margin-right: 30px;
}
ul.sort-list li a {
	color: #179fdb;
	text-decoration: none;
	display: block;
}
ul.sort-list li.active a {
	color: #444444;
	background-image: url(../images/icons/icon-sort-up.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
}
.filter-panel .item-3-col .input-text-default {
	width: 194px;
}
.filter-panel .item-first {
	margin-left: 140px;
}
.filter-panel .item-first:last-child {
	margin-top: -70px !important;
}
.filter-panel .item span.choice-name {
	width: 120px;
	display: block;
	text-align: center;
	line-height: 260%;
}
.input-text-default {
	border: 1px solid #dee5e8;
	padding: 9px 18px;
	width: 100%;
	font-size: 15px;
}
.input-text-default:focus {
	border-color: #179fdb;
}
.input-textarea-default {
	border: 1px solid #dee5e8;
	padding: 4px 18px 9px 77px;
	width: 100%;
	resize: none;
	min-height: 150px;
	font-size: 15px;
}
.input-textarea-default:focus {
	border-color: #179fdb;
}
.form-container-textarea i {
	position: absolute;
}
.input-button-big {
	color: #FFF;
	padding: 13px 20px 10px 20px;
	border: 0;
	font-size: 13px;
}
.filter-panel .input-button-big {
	padding: 10px 20px 10px 20px;
}
.choice-mark {
	width: 145px;
}
.choice-mark-wide {
	width: 260px;
}
.choice-year {
	width: 30px;
}
.choice-model {
	width: 170px;
}
.choice-model-wide {
	width: 270px;
}
.showcase-index {
	/*border-bottom: 1px solid #dee5e8;*/
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 10px;
}
.product-item-table {
	float: left;
	background: #FFF;
	border-right: 1px solid #dee5e8;
	border-bottom: 1px solid #dee5e8;
	padding: 12px 19px;
	width: 176px;
	height: 260px;
}
.product-item-table:hover {
	box-shadow: inset 0px 0px 1px 1px rgba(187, 187, 187, 0.75);
}
 .product-item-table ..product-item-table-price {
 font-size:24px;
}
.product-item-table .action-container {
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -5px;
}
.action-container span {
	display: block;
	margin-top: 13px;
	font-size: 11px;
	color: #FFF;
	position: absolute;
	width: 40px;
	text-align: center;
}
.product-item-table-img {
	width: 180px;
	height: 150px;
}
.product-item-table-name {
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	height: 20px;
}
.product-item-table-price {
	font-size: 28px;
	color: #179fdb;
	font-weight: lighter;
	font-style: normal;
	display: inline-block;
}
.product-item-table-price span {
	float: left;
	display: block;
	margin-right: 4px;
}
.product-item-table-price i.currency {
	display: block;
	float: left;
	background-image: url(../images/icons/icon-rub.png);
	width: 15px;
	height: 19px;
	margin-top: 11px;
	margin-left: 2px
}
.product-item-list {
	background-color: #FFF;
	border-top: 1px solid #dee5e8;
	border-right: 1px solid #dee5e8;
	border-left: 1px solid #dee5e8;
}
.product-item-list .image-container {
	width: 220px;
	float: left;
}
.product-item-list .image-container .image-container-index {
	height: 150px;
	margin-left: 17px;
	margin-top: 20px;
	width: 180px;
}
.product-item-list .product-description {
	margin-left: 220px;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	border-left: 1px solid #dee5e8
}
.product-item-list .action-container {
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 40px;
}
.product-item-list .product-item-list-name {
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	margin-top: 10px;
}
.product-item-list .product-item-list-price {
	color: #179fdb;
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	margin-top: 5px;
}
.product-item-list .product-item-list-price span {
	display: block;
	float: left;
}
.product-item-list .product-item-list-price i.currency {
	background-image: url("../images/icons/icon-rub.png");
	display: block;
	float: left;
	height: 19px;
	margin-left: 6px;
	margin-top: 7px;
	width: 15px;
}
.product-item-list .product-item-list-description {
	display: inline-block;
	color: #9d9d9d;
	margin-top: 10px;
	font-size: 12px;
	height: 60px;
	line-height: 100%;
}
.input-button-default {
	color: #FFF;
	padding: 0px 35px;
	border: 0px none;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	border-radius: 1px;
	height: 32px;
	line-height: 32px;
}
.input-button-small:hover {
	background-color: #179fdb;
}
.button-black {
	background-color: #434a54;
}
.button-black:hover {
	background-color: #179fdb;
}
.button-blue {
	background-color: #179fdb;
}
.button-blue:hover {
	background-color: #0ecc9c;
}
.input-button-small {
	color: #FFF;
	padding-left: 19px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 8px;
	border: 0;
	font-size: 11px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
}
.input-button-small span {
	display: block;
	margin-top: 4px;
	margin-left: 34px;
}
.input-button-small i {
	position: absolute;
}
.sidebar-index-container {
	margin-bottom: 20px;
	border: 1px solid #dee5e8;
	background-color: #FFF;
}
.sidebar-index-container .select-list-default .default {
	width: 266px;
}
.row-index {
}
.row-index .filter-panel:first-child {
	border-bottom: none;
}
.row-index .filter-panel:last-child {
	border-top: none;
}
.switch-panel {
}
.switch-panel a {
	display: block;
	float: left;
	border-left: 1px solid #dee5e8;
}
.centered {
	text-align: center;
}
ul.pagination {
	list-style-type: none;
	display: inline-block;
}
ul.pagination li {
	float: left;
	display: block;
	margin-right: 10px;
}
ul.pagination li a {
	display: block;
	width: 40px;
	height: 40px;
	color: #FFF;
	text-decoration: none;
	background-color: #434a54;
	line-height: 40px;
}
ul.pagination li a:hover {
	background-color: #179fdb;
}
ul.pagination li.active a {
	background-color: #179fdb;
}
ul.pagination li.arrow a {
	color: #179fdb;
	background: none;
}
ul.pagination li.arrow a:hover {
	color: #434a54;
}
.show-numbers {
	float: right;
	line-height: 40px;
	margin-top: -44px;
	position: relative;
}
.show-numbers a {
	font-weight: bold;
	margin-left: 15px;
	text-decoration: none;
	color: #434a54;
	font-size: 14px;
}
.full-wide {
	width: 100%;
}
.show-numbers a.active, .show-numbers a:hover {
	color: #179fdb;
}
.row-index .filter-panel:first-child {
/*border-bottom: none !important;*/
}
.row-index .filter-panel:last-child {
/*border-top: none !important;*/
}
.filter-panel-no-padding {
	padding: 0px 0px 0px 10px;
	width: 845px;
}
.filter-panel-no-padding .fa-list {
	border-top: none;
	border-bottom: none;
}
.filter-panel-no-padding .fa-table {
	border-top: none;
	border-bottom: none;
	border-radius: none;
}
.filter-panel-no-padding .item {
	margin-top: 12px;
}
.content-page-index {
	background: #FFF;
	border: 1px solid #DEE5E8;
	padding: 40px 20px 20px 20px;
}
.content-page-index-cabinet {
	background: #FFF;
	border: 1px solid #DEE5E8;
	padding-bottom: 30px;
	padding-top: 16px;
}
.product-slider-container {
	width: 360px;
	height: 375px;
	display: inline-block;
	float: left;
	background-color: #e7e7e7;
}
.product-description-main {
	min-height: 375px;
	margin-left: 380px;
}
.product-description-main .product-item-table-price {
	margin-top: 10px;
	margin-bottom: 3px;
}
.product-description-main .units-number {
	width: 100px;
	height: 39px;
	margin-top: 10px;
}
.input-button-middle {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	height: 40px;
	line-height: 27px;
	margin-top: 15px;
	padding-left: 25px;
	padding-right: 30px;
}
.input-button-middle i {
	margin-top: 9px;
	position: absolute;
}
.input-button-middle span {
	display: block;
	margin-left: 37px;
	float: left;
	margin-top: 7px;
}
.color-blue {
	color: #179FDB;
}
.product-description-main p {
	margin-top: 6px;
}
.product-description-row {
	margin-bottom: 30px;
}
.product-description-row h4 {
	width: 200px;
	border-bottom: 2px solid #179fdb;
	float: left;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	color: #179FDB;
}
.product-description-index-mobile {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.product-description-index {
	margin-left: 230px;
}
.product-description-row p strong {
	font-size: 13px;
	font-weight: bold;
}
.product-description-index ul {
	color: #929292;
	margin-left: 15px;
	margin-bottom: 15px;
}
.product-description-index ul li {
	margin-bottom: 8px;
}
.table-default {
	width: 100%;
}
.table-default th {
	background-color: #f4fcff;
	border: 1px solid #DEE5E8;
	font-size: 12px;
	padding: 15px;
}
.table-default td {
	border: 1px solid #DEE5E8;
	padding: 15px;
	font-size: 14px;
	font-size: 15px;
}
.table-default p {
	font-size: 12px;
	color: #626262;
}
.table-default b {
	font-size: 14px;
	font-weight: normal;
	color: #626262;
	display: block;
}
.table-default .pull-left {
	margin-right: 10px;
	font-size: 16px;
}
.table-default .pull-left span {
	line-height: 200%;
}
.table-default .pull-right span {
	line-height: 200%;
}
.table-default .pull-right {
	font-size: 16px;
}
.table-default .choice-select-list {
	display: none;
}
.table-default .item-price-index {
	display: none;
	margin-top: 85px;
	color: #179fdb;
	font-size: 20px;
}
.table-default .choice-select-list label {
	margin-bottom: 4px;
	display: block
}
.button-back {
	display: block;
	background-color: #434a54;
	color: #FFF;
	width: 20px;
	height: 40px;
	position: absolute;
	margin-left: -20px;
	margin-top: -40px;
	line-height: 37px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
.button-back:after {
	content: '«';
}
.button-back:hover {
	background-color: #179FDB;
}
.button-delete {
	display: block;
	color: #626262;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.button-delete:after {
	content: '×';
}
.button-delete:hover {
	color: #179FDB;
}
.input-password {
	border: 1px solid #dee5e8;
	padding: 4px 8px;
	width: 80px;
	color: #179FDB;
}
.content-row {
	border-bottom: 1px solid #DEE5E8;
	padding-top: 10px;
	padding-bottom: 15px;
	display: inline-block;
	width: 100%;
}
.content-row .pull-left {
	margin-right: 3px;
}
.form-container {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}
.form-container-row {
	width: 390px;
}
.form-container-item {
	line-height: 270%;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.form-container .choice-list {
	width: 270px;
}
.form-container-item .input-text-default {
	width: 289px;
	float: left;
	padding: 14px 18px 14px 18px;
	height: 20px;
}
.form-container-item i {
	float: left;
}
.product-spare-parts {
	margin-left: 270px;
	display: inline-block;
	margin-top: -20px;
}
.product-spare-parts .form-container-row {
	width: 510px;
}
.product-spare-parts .form-container-item {
	line-height: 270%;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.product-spare-parts .form-container-item .input-text-default {
	width: 412px;
	float: left;
	padding: 15px 18px 13px 18px;
}
.form-container-item .input-textarea-default {
	width: 412px;
}
.input-button-big {
	border: 0 none;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	text-decoration: none;
}
.tabs-wide-container {
	width: 820px;
	margin: 0 auto;
}
.tabs-default {
	margin: 0;
	padding: 0;
}
.tabs-default li {
	display: inline-block;
	zoom: 1;
 *display: inline;
	padding-left: 20px;
	padding-right: 20px;
	height: 38px;
}
.tabs-default li a {
	font-size: 14px;
	display: block;
	outline: none;
	text-decoration: none;
	color: #696969;
	font-size: 14px;
	border-bottom: none;
}
.tabs-default li a:hover {
	text-decoration: none;
}
.tabs-default li.active {
	position: relative;
	background-image: url(../images/icons/triangle-tabs.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.tabs-default li a.active {
	text-decoration: none;
	color: #179fdb;
}
.tabs-default-panel-container {
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #e1e1e1;
	margin-top: -6px;
	padding: 15px 20px 0 20px;
}
.tabs-default-container {
/*min-height: 370px*/
}
.inline-block {
	display: inline-block;
}
.header-bottom .nav-system-main {
	margin-left: 135px;
}
.nav-system-main ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-system-main ul li {
	margin: 0;
	position: relative;
	height: 20px;
	line-height: 20px;
}
.nav-system-main ul li a {
	color: #FFF;
	height: 30px;
	line-height: 24px;
	font-size: 12px;
	padding: 10px 15px;
	display: block;
}
.nav-system-main ul li.current a {
	background-color: #ededed;
	color: #179FDB;
}
.nav-system-main ul li a:hover {
	color: #179fdb;
}
.nav-system-main ul li a.dropdown-list {
	background-image: url(../images/icons/icon-bullet-nav.png);
	background-repeat: no-repeat;
	background-position: right bottom 24px;
}
.nav-system-main ul li a.dropdown-list:hover {
	background-image: url(../images/icons/icon-bullet-nav-hover.png);
	background-repeat: no-repeat;
	background-position: right bottom 24px;
}
.nav-system-main ul li ul {
	border: 1px solid #DEE5E8;
	height: 360px;
	background-color: #FFF;
	padding-top: 10px;
}
.nav-system-main ul li ul li {
	display: table;
	height: 35px;
	width: 100%;
}
.nav-system-main ul li ul li a {
	color: #444444;
	display: table-cell;
	vertical-align: middle;
	height: 35px;
	padding: 0 20px;
	font-size: 13px;
	line-height: 100%;
}
.nav-system-main ul li ul li a:hover {
	color: #179fdb;
	background-image: url(../images/icons/icon-bullet-dropdown.png);
	background-repeat: no-repeat;
	background-position: right 5px top 14px;
}
.nav-system-main ul li ul li ul li a:hover {
	background-image: none;
}
.nav-system-main > ul > li {
	float: left;
	height: 30px;
	line-height: 23px;
	font-size: 13px
}
.nav-system-main li > ul {
	visibility: hidden;
	width: 260px;
	position: absolute;
	left: 260px;
}
.nav-system-main ul.catalogie-list:before {
	display: block;
	content: " ";
	background-image: url(../images/icons/bullet-drop-list.png);
	width: 10px;
	height: 7px;
	position: absolute;
	top: -6px;
	left: 40px;
}
.nav-system-main ul.selection-parts:before {
	display: block;
	content: " ";
	background-image: url(../images/icons/bullet-drop-list.png);
	width: 10px;
	height: 7px;
	position: absolute;
	top: -6px;
	left: 70px;
}
.nav-system-main > ul > li > ul {
	top: 50px;
	left: 0;
	z-index: 9;
}
.nav-system-main li:hover > ul {
	visibility: visible;
}
.nav-system-main ul li.level-item-1 ul {
	top: -11px;
}
.nav-system-main ul li.level-item-2 ul {
	top: -46px;
}
.nav-system-main ul li.level-item-3 ul {
	top: -81px;
}
.nav-system-main ul li.level-item-4 ul {
	top: -116px;
}
.nav-system-main ul li.level-item-5 ul {
	top: -151px;
}
.nav-system-main ul li.level-item-6 ul {
	top: -186px;
}
.nav-system-main ul li.level-item-7 ul {
	top: -221px;
}
.nav-system-main ul li.level-item-8 ul {
	top: -256px;
}
.nav-system-vertikal {
	background-color: #FFF;
}
.nav-system-vertikal ul:nth-child(2) {
	background-color: #FFF;
}
.nav-system-vertikal ul li ul:nth-child(2) {
	background-color: #ebf7fc;
	opacity: 0.97;
	border-right: none;
}
.nav-system-vertikal ul li ul li ul:last-child {
	background-color: #fff;
	opacity: 1.0;
	border-left: none;
}
.nav-system-vertikal ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #dee5e8;
	height: 416px;
}
.nav-system-vertikal ul li {
	margin: 0;
	position: relative;
	display: table;
	width: 100%;
}
.nav-system-vertikal li a {
	background-image: url("../images/icons/icon-bullet-menu-vertikal.png");
	background-position: left 17px center;
	background-repeat: no-repeat;
	border-top: 1px solid #dee5e8;
	color: #444444;
	display: table-cell;
	font-size: 12.5px;
	height: 58px;
	line-height: 100%;
	padding: 0 10px 0 57px;
	vertical-align: middle;
	width: 100%;
	line-height: 120%;
}
.nav-system-vertikal ul li a:hover {
	color: #179fdb;
}
.nav-system-vertikal ul li a.dropdown-list {
	background-image: url(../images/icons/icon-bullet-nav.png);
	background-repeat: no-repeat;
	background-position: right bottom 24px;
}
.nav-system-vertikal ul li a.dropdown-list:hover {
	background-image: url(../images/icons/icon-bullet-nav-hover.png);
	background-repeat: no-repeat;
	background-position: right bottom 24px;
}
.nav-system-vertikal ul li ul {
	border: 1px solid #DEE5E8;
	height: 455px;
	padding-top: 15px;
}
.nav-system-vertikal ul li ul li {
	display: block;
	margin: 0;
	position: relative;
	height: 45px;
	display: table;
}
.nav-system-vertikal ul li ul li a {
	color: #444444;
	padding: 0 20px;
	height: 45px;
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	line-height: 100%;
	background-image: none;
	position: relative;
	z-index: 99;
	border: none;
	width: auto
}
.nav-system-vertikal ul li ul li a:hover {
	color: #179fdb;
	background-color: #FFF;
	background-image: url(../images/icons/icon-bullet-dropdown.png);
	background-repeat: no-repeat;
	background-position: right 10px top 18px;
}
.nav-system-vertikal ul li ul li ul li a:hover {
	background-image: none;
}
.nav-system-vertikal > ul > li {
/*height: 30px;
	line-height: 23px;
	font-size: 13px;*/
}
.nav-system-vertikal li > ul {
	visibility: hidden;
	width: 260px;
	position: absolute;
	left: 260px;
}
.nav-system-vertikal > ul > li > ul {
	top: 0;
	left: 298px;
	z-index: 9;
}
.nav-system-vertikal li:hover > ul {
	visibility: visible;
}
.nav-system-vertikal ul li ul.level-item-1 {
	position: absolute;
	top: -55px;
}
.nav-system-vertikal ul li ul.level-item-2 {
	top: -114px;
}
.nav-system-vertikal ul li ul.level-item-3 {
	top: -75px;
}
.nav-system-vertikal ul li ul.level-item-4 {
	top: -107px;
}
.nav-system-vertikal ul li ul.level-item-5 {
	top: -139px;
}
.nav-system-vertikal ul li ul.level-item-6 {
	top: -171px;
}
.nav-system-vertikal ul li ul.level-item-7 {
	top: -203px;
}
.nav-system-vertikal ul li ul.level-item-8 {
	top: -235px;
}
.nav-system-vertikal ul li ul li ul.level-item-1-1 {
	top: -16px;
}
.sidebar-left h3 {
	background: none repeat scroll 0 0 #fff;
	color: #179fdb;
	display: block;
	font-weight: normal;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 16px;
}
.nav-vertikal-mobile h3 {
	color: #179fdb;
	display: block;
	font-weight: normal;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 16px;
}
.nav-system-vertikal li.level-1 ul {
	margin-top: -55px;
}
.nav-system-vertikal li.level-2 ul {
	margin-top: -114px;
}
.nav-system-vertikal li.level-3 ul {
	margin-top: -173px;
}
.nav-system-vertikal li.level-4 ul {
	margin-top: -232px;
}
.nav-system-vertikal li.level-5 ul {
	margin-top: -291px;
}
.nav-system-vertikal li.level-6 ul {
	margin-top: -350px;
}
.nav-system-vertikal li.level-7 ul {
	margin-top: -409px;
}
.nav-system-vertikal ul li ul li.level-2-1 ul {
	margin-top: -16px;
}
.nav-system-vertikal ul li ul li.level-2-2 ul {
	margin-top: -61px;
}
.nav-system-vertikal ul li ul li.level-2-3 ul {
	margin-top: -106px;
}
.nav-system-vertikal ul li ul li.level-2-4 ul {
	margin-top: -151px;
}
.nav-system-vertikal ul li ul li.level-2-5 ul {
	margin-top: -196px;
}
.nav-system-vertikal ul li ul li.level-2-6 ul {
	margin-top: -241px;
}
.nav-system-vertikal ul li ul li.level-2-7 ul {
	margin-top: -286px;
}
.nav-system-vertikal ul li ul li.level-2-8 ul {
	margin-top: -331px;
}
.product-image-big {
	width: 359px !important;
	height: 299px;
	border-bottom: 1px solid #FFF;
	padding: 0;
}
.product-image-big {
	width: 100%;
	overflow: hidden;
}
.product-image-list {
	list-style-type: none;
	margin-top: 1px;
}
.product-image-list a {
	float: left;
	width: 89px;
	height: 74px;
	display: block;
	border-right: 1px solid #FFF;
	background-color: #e7e7e7;
}
.product-image-list a:last-child {
	border-right: none;
}
.product-image-list a img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.units-number .input-text-default {
	width: 35px;
	text-align: center;
	float: left;
	border-right: none;
	padding: 8px 18px 8px 18px;
}
.units-number .input-text-default:focus {
	border: 1px solid #dee5e8;
	border-right: none;
}
a.step-up, a.step-down {
	display: block;
	border: 1px solid #dee5e8;
	width: 18px;
	height: 18px;
	text-align: center;
	color: #bec2c4;
	line-height: 18px;
	font-size: 16px;
}
.units-number a.step-up, .units-number a.step-down {
	float: left;
}
.units-number a.step-up {
}
.units-number a.step-down {
	border-top: none;
}
.choice-select-list {
	margin-left: 5px;
}
.item-row {
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.item-row .input-button-big {
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}
.mini-basket-container {
	margin-right: 70px;
}
.mini-basket-container a {
	float: left;
	display: block;
}
.mini-basket-index {
	margin-left: 40px;
	height: 40px;
	color: #000;
	background-color: #fff;
	opacity: 0.6;
	padding-left: 9px;
	padding-right: 9px;
	line-height: 100%;
}
.mini-basket-index span {
	font-size: 12px;
	display: block;
	padding-top: 3px;
}
.mini-basket-index span.mini-basket-counts {
	font-size: 16px;
	font-weight: bold;
}
.show-container {
	display: none;
}
.show-block:focus {
	display: inline;
}
.show-block:focus + .show-container {
	display: block;
}
.show-container-basket:before {
	display: block;
	content: " ";
	background-image: url(../images/icons/bullet-drop-list.png);
	width: 10px;
	height: 7px;
	position: absolute;
	top: -6px;
	left: 245px;
}
.show-container-basket {
	background-color: #FFF;
	position: absolute;
	width: 300px;
	margin-left: -230px;
	margin-top: 40px;
	z-index: 999
}
.show-container-basket .input-button-small {
	margin: 8px 0 8px 61px;
}
.show-container-details:before {
	display: block;
	content: " ";
	background-image: url(../images/icons/bullet-details-before.png);
	width: 20px;
	height: 13px;
	position: absolute;
	top: -12px;
	left: 45px;
}
.show-container-details {
	position: absolute;
	width: 797px;
	margin-left: -16px;
	margin-top: 14px;
	background-color: #fbfbfb !important;
	z-index: 99;
	padding: 17px 10px 17px 10px;
	text-align: left;
	/* Firefox v3.5+ */
	-moz-box-shadow: 0px 0px 5px 0px rgba(180,180,180,0.75);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(180,180,180,0.75);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 5px 0px rgba(180,180,180,0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 0,Color = #bfb4b4b4,Positive = true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0, OffY = 0, Color = #bfb4b4b4, Positive = true);
}
.table-mini-basket {
	background-color: #FFF;
	width: 100%;
}
.table-mini-basket tr {
	border-bottom: 1px solid #d7e1e4;
}
.table-mini-basket td {
	height: 60px;
	font-size: 13px;
}
.img-container-40 {
	width: 40px;
	height: 40px;
}
.img-container-40 img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.table-mini-basket td .img-container-40 {
	padding-left: 5px;
	padding-right: 5px;
}
.table-mini-basket td .button-delete {
	display: block;
	width: 50px;
	height: 60px;
	color: #d7e1e4;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 26px;
	line-height: 62px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.table-mini-basket td .button-delete:hover {
	background-color: #d7e1e4;
	color: #179fdb;
}
.table-mini-basket tr.result-row {
	background-color: #d7e1e4;
	font-size: 16px;
	color: #179fdb;
	text-align: right;
	height: 50px;
}
.table-mini-basket tr.result-row td {
	padding-right: 20px !important;
	height: 50px;
}
.contacts-about {
	float: left;
	width: 545px;
}
.contacts-index {
	margin-left: 585px;
}
ul.contacts-list {
	list-style-type: none;
}
ul.contacts-list li {
	line-height: 200%;
	display: block;
	margin-bottom: 20px;
}
ul.contacts-list li span {
	display: block;
	margin-left: 55px;
}
ul.contacts-list li span.details-title {
	display: block;
	float: left;
	width: 100px;
	margin-left: 0;
}
ul.contacts-list li span.details-index {
	display: block;
	margin-left: 10px;
}
.details-container {
	margin-left: 58px;
}
.employee-list {
	margin-top: 10px;
}
.employee-list .employee-item {
	float: left;
	background-color: #FFF;
	width: 384px;
	border-right: 2px solid #179fdb;
	margin-left: 10px;
}
.employee-list .employee-item:first-child {
	margin-left: 0;
}
.employee-list .employee-item img {
	display: block;
	width: 180px;
	height: 180px;
	float: left;
}
.employee-list .employee-item span {
	display: block;
	margin-left: 200px;
}
.employee-list .employee-item span.employee-name {
	font-size: 16px;
	color: #179fdb;
	margin-top: 30px;
}
.employee-list .employee-item span.job-title {
	font-size: 13px;
	margin-top: 20px;
	font-style: italic;
}
.employee-list .employee-item span.phone-number {
	margin-top: 20px;
}
.item-row .price-range-slider {
	margin-top: 35px;
	width: 270px;
}
.price-range-description {
	margin-top: 30px;
}
span.range-value-from, span.range-value-to {
	display: block;
	border: 1px solid #dee5e8;
	padding: 9px 17px;
	width: 70px;
	text-align: center;
}
.price-range-description span.range-value-from, .price-range-description span.range-value-to {
	float: left;
}
.price-range-description span.range-value-to {
	margin-left: 5px;
}
.price-range-description span.range-currency {
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}
.item-row .price-range-description {
	margin-bottom: 10px;
}
.item-row .noUi-base {
	width: 242px;
}
.item-3-col .price-range-slider {
	margin-top: 18px;
	width: 221px;
}
.item-3-col span.range-value-from, .item-3-col span.range-value-to {
	width: 47px;
}
.item-3-col .noUi-base {
	width: 195px;
}
.modal-container {
	padding: 28px 38px 20px 38px;
	width: 504px;
	display: none;
}
.modal-container h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
}
.modal-container .form-container-item {
	margin-bottom: 18px;
}
.modal-container .form-container-item .input-text-default {
	width: 404px;
}
.modal-container .form-container-item .input-button-big {
	font-size: 14px;
}
.modal-container .form-container-item:last-child {
	margin-bottom: 0;
}
a.color-dark {
	color: #444;
}
#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
.choise-mark-list {
	width: 183px;
}
.choise-mark-list-wide {
	width: 292px;
}
.choise-year-list {
	width: 84px;
}
.catalogue-filter {
	width: 280px;
	background-color: #FFF;
}
h2.acc_trigger {
	background: url(../images/icons/icon-bullet-menu-vertikal.png) 17px 16px no-repeat;
	height: 58px;
	font-weight: normal;
	float: left;
}
h2.acc_trigger a {
	font-size: 13px;
	text-decoration: none;
	display: block;
	padding: 0 0 0 56px;
	display: table;
	line-height: 100%;
	vertical-align: middle;
	color: #FFF;
}
h2.acc_trigger a span {
	display: table-cell;
	vertical-align: middle;
	height: 58px;
	color: #FFF;
}
h2.active {
	background-image: url(../images/icons/icon-bullet-menu-vertikal-drop.png);
	background-repeat: no-repeat;
}
h2.active:after {
	display: block;
	content: " ";
	width: 0;
	margin-top: -12px;
	margin-left: 25px;
	border: 6px solid transparent;
	border-bottom: 6px solid #e5edf0;
}
.acc_container {
	padding: 0;
	overflow: hidden;
	clear: both;
	background: #E5EDF0;
}
.acc_container .block {
	font-size: 13px;
}
.acc_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}
.acc_container h3 {
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
.acc_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
ul.sub-catalogue {
	list-style-type: none;
}
ul.sub-catalogue li {
	display: block;
}
ul.sub-catalogue li a {
	display: block;
	padding-top: 16px;
	padding-bottom: 16px;
	color: #FFF;
	text-indent: 38px;
}
ul.sub-catalogue li a:hover {
	color: #179fdb;
}
.issue-container {
	border: 1px solid #d7e1e4;
	display: block;
	width: 298px;
}
.slider-container {
	background: url(../images/backgrounds/bg-slider.jpg) no-repeat center top / cover transparent;
	height: auto;
}
.slider-image-container {
	width: 500px;
	float: left;
}
.slider-description {
	margin-left: 500px;
	margin-top: 60px;
	margin-right: 50px;
	color: #ededed;
}
.slider-description span.advert-text-1 {
	font-size: 22px;
}
.slider-description span.advert-text-2 {
	font-size: 50px;
}
.slider-description div.advert-text-3 {
	font-size: 24px;
}
.slider-description div.advert-text-4 {
	margin-left: 15px;
	font-size: 72px;
}
.table-default .units-number {
	width: 92px;
}
.nav-system-vertikal-mobile .spoiler-switcher {
	background-color: transparent;
	border: none;
	color: #179fdb;
	padding-bottom: 10px;
	padding-left: 19px;
	padding-top: 10px;
}
.categories-list-mobile {
	list-style-type: none;
}
.categories-list-mobile li a {
	color: #FFF;
	line-height: 120%;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 5px;
}
.spoiler-switcher {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #FFF;
	border-bottom: 1px solid #dee5e8;
	border-left: 1px solid #dee5e8;
	border-right: 1px solid #dee5e8;
	padding: 22px 20px 22px 20px;
	font-size: 14px;
}
.spoiler-content div {
/*padding: 10px 20px;
  border: 1px solid #ddd;*/
}
.spoiler-switcher_closed:after {
	content: "+";
	background-color: #434a54;
	border-radius: 10px;
	color: #fff;
	display: block;
	float: right;
	font-size: 22px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	text-align: center;
	width: 20px;
	text-indent: 1px;
}
.nav-system-vertikal-mobile .spoiler-switcher_closed:after {
	display: none;
}
.nav-system-vertikal-mobile .spoiler-switcher_closed {
	background-image: url(../images/icons/icon-bullet-drop-close.png);
	background-repeat: no-repeat;
	background-position: right 18px center;
}
.spoiler-switcher_opened:after {
	content: "-";
	background-color: #434a54;
	border-radius: 10px;
	color: #fff;
	display: block;
	float: right;
	font-size: 40px;
	height: 20px;
	line-height: 12px;
	text-align: center;
	width: 20px;
	text-indent: 1px;
}
.nav-system-vertikal-mobile .spoiler-switcher_opened:after {
	display: none;
}
.nav-system-vertikal-mobile .spoiler-switcher_opened {
	background-image: url(../images/icons/icon-bullet-drop-open.png);
	background-repeat: no-repeat;
	background-position: right 18px center;
}
.item-slider-price {
	padding-top: 20px;
}
.item-slider-price .price-range-slider {
	width: 420px;
	float: left;
}
.item-slider-price .price-range-description {
	float: right;
	margin-right: 20px;
	margin-top: -15px;
}
.item-slider-price .price-range-description .range-value-from, .item-slider-price .price-range-description .range-value-to {
	background-color: #FFF;
}
.footer-index .spoiler-switcher {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: transparent;
	padding: 22px 0 22px 0;
	font-size: 14px;
	border: none;
	font-weight: bold;
	color: #FFF;
}
.footer-index .spoiler-content div {
/*padding: 10px 20px;
  border: 1px solid #ddd;*/
}
.footer-index .spoiler-switcher_closed:after {
	content: "+";
	background-color: #fff;
	border-radius: 10px;
	color: #434a54;
	display: block;
	float: right;
	font-size: 22px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	text-align: center;
	width: 20px;
	text-indent: 1px;
}
.footer-index .spoiler-switcher_opened:after {
	content: "-";
	background-color: #fff;
	border-radius: 10px;
	color: #434a54;
	display: block;
	float: right;
	font-size: 40px;
	height: 20px;
	line-height: 12px;
	text-align: center;
	width: 20px;
	text-indent: 1px;
}
a.show-block span {
	font-weight: bold;
	font-size: 13px;
	margin-right: 4px;
}
.table-default .position-index span.order-descripiton {
	display: none;
	margin-top: 4px;
}
.header-bottom .mobile-menu-show {
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	display: none;
}
/*Modal mobile*/
.modal-mobile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: none;
}
.modal-mobile:target {
	opacity: 1;
	pointer-events: auto;
}
.modal-mobile > div.modal-mobile-index {
	width: 320px;
	position: relative;
	margin: 0 auto;
}
.close-modal-mobile {
	position: absolute;
	right: 50px;
	top: 0;
	width: 40px;
	height: 40px;
	background-image: url(../images/icons/icon-modal-mobile-close.png);
	z-index: 999;
}
.modal-mobile-container {
	width: 230px;
	background-color: #434a54;
	position: absolute;
	height: 4000px;
	overflow: hidden;
}
.nav-system-vertikal-mobile {
	list-style-type: none;
	padding-bottom: 30px;
}
.nav-system-vertikal-mobile li {
	font-size: 13px;
}
.nav-system-vertikal-mobile li a {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 19px;
	display: block;
}
.categories-list-mobile li {
	background-color: #484f5a;
}
.nav-system-vertikal-mobile li.blue {
	background-color: #179fdb;
}
.nav-system-vertikal-mobile li.blue a {
	color: #434a54;
}
.no-padding {
	padding: 0;
}
